body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: hsl(0, 0%, 100%);
  background: linear-gradient(45deg, hsl(0, 0%, 100%) 0%, hsl(204, 100%, 90%) 62%, hsl(204, 100%, 78%) 100%);
  background: -webkit-linear-gradient(45deg, hsl(0, 0%, 100%) 0%, hsl(204, 100%, 90%) 62%, hsl(204, 100%, 78%) 100%);
  margin: 0rem;
  overflow: hidden;
}
body .main {
  width: 100%;
  height: 100%;
}
body .main .hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}
@media (max-width: 1200px) {
  body .main .hero-section {
    padding-top: 10vh;
  }
}
@media (max-width: 620px) {
  body .main .hero-section {
    padding-top: 5vh;
  }
}
body .main .hero-section .content-holder {
  max-width: 1320px;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
body .main .hero-section .content-holder h1 {
  font-family: "Space Mono", monospace;
  font-size: 10rem;
  color: #50b9ff;
  margin: 0;
}
@media (max-width: 1200px) {
  body .main .hero-section .content-holder h1 {
    font-size: 7rem;
  }
}
@media (max-width: 880px) {
  body .main .hero-section .content-holder h1 {
    font-size: 5rem;
  }
}
@media (max-width: 620px) {
  body .main .hero-section .content-holder h1 {
    font-size: 3rem;
  }
}
@media (max-width: 372px) {
  body .main .hero-section .content-holder h1 {
    font-size: 2rem;
  }
}
body .main .hero-section .content-holder .info-holder {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  width: 1059.6px;
}
@media (max-width: 1200px) {
  body .main .hero-section .content-holder .info-holder {
    width: 94%;
  }
}
@media (max-width: 880px) {
  body .main .hero-section .content-holder .info-holder {
    flex-direction: column;
    align-items: center;
  }
}
body .main .hero-section .content-holder .info-holder p {
  font-family: "Space Mono", monospace;
  font-size: clamp(3rem, 1vw, 10rem);
  color: #50b9ff;
  margin: 0;
}
@media (max-width: 1200px) {
  body .main .hero-section .content-holder .info-holder p {
    font-size: 3rem;
  }
}
@media (max-width: 880px) {
  body .main .hero-section .content-holder .info-holder p {
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 372px) {
  body .main .hero-section .content-holder .info-holder p {
    font-size: 1.5rem;
  }
}
body .main .hero-section .content-holder .info-holder nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 880px) {
  body .main .hero-section .content-holder .info-holder nav {
    align-items: center;
  }
}
body .main .hero-section .content-holder .info-holder nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
body .main .hero-section .content-holder .info-holder nav a {
  font-family: "Space Mono", monospace;
  padding: 0.5em 0.8em;
  color: #50b9ff;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}
body .main .hero-section .content-holder .info-holder nav a::before {
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #50b9ff;
  border-right: 3px solid #50b9ff;
  transform: translate(-100%, 50%);
}
body .main .hero-section .content-holder .info-holder nav a::after {
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #50b9ff;
  border-left: 3px solid #50b9ff;
  transform: translate(100%, -50%);
}
body .main .hero-section .content-holder .info-holder nav a:hover:before {
  transform: translate(0, 0);
  opacity: 1;
}
body .main .hero-section .content-holder .info-holder nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}
body .main .hero-section .content-holder .info-holder nav a:focus:before {
  transform: translate(0, 0);
  opacity: 1;
}
body .main .hero-section .content-holder .info-holder nav a:focus:after {
  transform: translate(0, 0);
  opacity: 1;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff), linear-gradient(to right, #8ED2FF, #fff);
  background-repeat: no-repeat;
  background-size: 3% 0.6%;
  animation: lft-rght 100s infinite linear;
}

@keyframes lft-rght {
  0% {
    background-position: 53% 25%, 107% 52%, 17% 73%, 104% 92%, 86% 83%, -21% 11%, -12% 100%, 67% 58%, 4% 23%, 107% 99%, 64% 37%, -19% 17%, 97% 93%, -8% 70%, 16% 20%;
  }
  1% {
    background-position: 26% 25%, 64% 52%, -3% 73%, 48% 92%, 31% 83%, -15% 11%, 34% 100%, 7% 58%, 13% 23%, 60% 99%, 72% 37%, -8% 17%, -9% 93%, 49% 70%, 95% 20%;
  }
  2% {
    background-position: 48% 25%, 55% 52%, 123% 73%, -13% 92%, 121% 83%, 34% 11%, 1% 100%, 16% 58%, 55% 23%, 31% 99%, 104% 37%, 39% 17%, 68% 93%, 85% 70%, 90% 20%;
  }
  3% {
    background-position: 121% 25%, -15% 52%, 122% 73%, 48% 92%, 32% 83%, 31% 11%, -2% 100%, -21% 58%, 35% 23%, 49% 99%, 34% 37%, 45% 17%, 60% 93%, 52% 70%, 83% 20%;
  }
  4% {
    background-position: 71% 25%, 34% 52%, 77% 73%, 11% 92%, 12% 83%, 108% 11%, 13% 100%, 36% 58%, 51% 23%, 102% 99%, -8% 37%, 49% 17%, 110% 93%, 98% 70%, 25% 20%;
  }
  5% {
    background-position: 48% 25%, 123% 52%, 35% 73%, 77% 92%, 10% 83%, 4% 11%, 97% 100%, 57% 58%, 4% 23%, 69% 99%, 28% 37%, 20% 17%, 91% 93%, 0% 70%, 85% 20%;
  }
  6% {
    background-position: 64% 25%, 22% 52%, 40% 73%, 61% 92%, 5% 83%, 109% 11%, 75% 100%, 100% 58%, 118% 23%, 58% 99%, 23% 37%, -6% 17%, 73% 93%, 29% 70%, 12% 20%;
  }
  7% {
    background-position: 16% 25%, 75% 52%, 51% 73%, -2% 92%, 72% 83%, 119% 11%, 109% 100%, 17% 58%, 12% 23%, 34% 99%, 110% 37%, 98% 17%, 58% 93%, 8% 70%, 109% 20%;
  }
  8% {
    background-position: 86% 25%, 98% 52%, 38% 73%, 26% 92%, 112% 83%, 107% 11%, 117% 100%, 34% 58%, 14% 23%, 98% 99%, -12% 37%, -19% 17%, 24% 93%, 53% 70%, 25% 20%;
  }
  9% {
    background-position: 88% 25%, 77% 52%, 119% 73%, 45% 92%, 87% 83%, -13% 11%, 116% 100%, 7% 58%, 56% 23%, 81% 99%, 107% 37%, 115% 17%, 83% 93%, 32% 70%, 91% 20%;
  }
  10% {
    background-position: 99% 25%, -17% 52%, 116% 73%, -16% 92%, 114% 83%, 27% 11%, 28% 100%, 98% 58%, 119% 23%, 34% 99%, 89% 37%, 74% 17%, -2% 93%, 122% 70%, 125% 20%;
  }
  11% {
    background-position: -13% 25%, 120% 52%, 46% 73%, 69% 92%, -15% 83%, 11% 11%, -15% 100%, 35% 58%, 35% 23%, 2% 99%, 17% 37%, 40% 17%, 44% 93%, 32% 70%, 8% 20%;
  }
  12% {
    background-position: 33% 25%, -14% 52%, 79% 73%, 63% 92%, 16% 83%, 4% 11%, 57% 100%, 104% 58%, 74% 23%, 94% 99%, 22% 37%, 73% 17%, 118% 93%, 40% 70%, 45% 20%;
  }
  13% {
    background-position: 19% 25%, -20% 52%, 33% 73%, -13% 92%, 12% 83%, 44% 11%, 62% 100%, 30% 58%, 28% 23%, 29% 99%, 45% 37%, 112% 17%, 119% 93%, 25% 70%, 94% 20%;
  }
  14% {
    background-position: 71% 25%, 21% 52%, 39% 73%, 91% 92%, 67% 83%, 45% 11%, 65% 100%, 79% 58%, 100% 23%, 19% 99%, -11% 37%, -24% 17%, 37% 93%, -13% 70%, 15% 20%;
  }
  15% {
    background-position: 93% 25%, 62% 52%, 111% 73%, 98% 92%, -14% 83%, 56% 11%, 89% 100%, 58% 58%, -23% 23%, 52% 99%, 23% 37%, 24% 17%, 94% 93%, 91% 70%, 78% 20%;
  }
  16% {
    background-position: 63% 25%, 69% 52%, 14% 73%, 43% 92%, 85% 83%, 68% 11%, -18% 100%, -5% 58%, 6% 23%, 12% 99%, 90% 37%, 25% 17%, 59% 93%, 84% 70%, 120% 20%;
  }
  17% {
    background-position: 106% 25%, -21% 52%, 16% 73%, -19% 92%, 102% 83%, -2% 11%, 66% 100%, -20% 58%, 121% 23%, -7% 99%, -9% 37%, 55% 17%, 117% 93%, -2% 70%, 24% 20%;
  }
  18% {
    background-position: 31% 25%, 67% 52%, 47% 73%, 4% 92%, 52% 83%, -18% 11%, 11% 100%, 19% 58%, 1% 23%, 90% 99%, -7% 37%, 103% 17%, 7% 93%, 64% 70%, -12% 20%;
  }
  19% {
    background-position: 78% 25%, 114% 52%, 120% 73%, -21% 92%, -1% 83%, 26% 11%, 34% 100%, 1% 58%, 42% 23%, 76% 99%, 74% 37%, 91% 17%, 48% 93%, 44% 70%, 32% 20%;
  }
  20% {
    background-position: 82% 25%, 17% 52%, -12% 73%, 44% 92%, -13% 83%, 23% 11%, 65% 100%, 67% 58%, 25% 23%, 82% 99%, 53% 37%, 40% 17%, 86% 93%, 107% 70%, 113% 20%;
  }
  21% {
    background-position: 103% 25%, 38% 52%, 82% 73%, 100% 92%, 5% 83%, 61% 11%, 10% 100%, 60% 58%, 20% 23%, 28% 99%, 40% 37%, 46% 17%, 102% 93%, 70% 70%, 36% 20%;
  }
  22% {
    background-position: 115% 25%, 4% 52%, 59% 73%, 43% 92%, 3% 83%, 118% 11%, 59% 100%, -5% 58%, 83% 23%, 103% 99%, 112% 37%, 114% 17%, 28% 93%, 11% 70%, 39% 20%;
  }
  23% {
    background-position: 38% 25%, 47% 52%, 117% 73%, 15% 92%, -15% 83%, 19% 11%, 99% 100%, 37% 58%, -13% 23%, 106% 99%, 85% 37%, 88% 17%, 58% 93%, 3% 70%, 23% 20%;
  }
  24% {
    background-position: -17% 25%, -5% 52%, -24% 73%, 84% 92%, -8% 83%, 94% 11%, 24% 100%, 3% 58%, 18% 23%, 53% 99%, 102% 37%, 56% 17%, 59% 93%, 3% 70%, 52% 20%;
  }
  25% {
    background-position: 20% 25%, 6% 52%, -3% 73%, 46% 92%, 47% 83%, 17% 11%, -19% 100%, 33% 58%, 106% 23%, -18% 99%, 99% 37%, -6% 17%, 71% 93%, 7% 70%, 116% 20%;
  }
  26% {
    background-position: 74% 25%, 59% 52%, -8% 73%, 21% 92%, 97% 83%, 54% 11%, -24% 100%, 81% 58%, 90% 23%, 100% 99%, 29% 37%, 80% 17%, 112% 93%, 122% 70%, 89% 20%;
  }
  27% {
    background-position: 16% 25%, 5% 52%, 45% 73%, 113% 92%, 117% 83%, 103% 11%, 17% 100%, 13% 58%, 14% 23%, -16% 99%, -16% 37%, 80% 17%, -6% 93%, 43% 70%, 92% 20%;
  }
  28% {
    background-position: -17% 25%, 61% 52%, 26% 73%, 55% 92%, 85% 83%, -19% 11%, 38% 100%, 1% 58%, 103% 23%, 38% 99%, 64% 37%, 107% 17%, 105% 93%, 34% 70%, 106% 20%;
  }
  29% {
    background-position: -4% 25%, 26% 52%, 38% 73%, 82% 92%, 26% 83%, -8% 11%, 36% 100%, 3% 58%, 60% 23%, 97% 99%, -23% 37%, 52% 17%, -10% 93%, 78% 70%, -13% 20%;
  }
  30% {
    background-position: 12% 25%, 6% 52%, 12% 73%, 74% 92%, 83% 83%, 6% 11%, 112% 100%, 113% 58%, 94% 23%, 69% 99%, -19% 37%, 26% 17%, 4% 93%, 26% 70%, 14% 20%;
  }
  31% {
    background-position: 25% 25%, 47% 52%, 68% 73%, -12% 92%, 116% 83%, 42% 11%, 48% 100%, 35% 58%, -4% 23%, -21% 99%, 86% 37%, 58% 17%, 63% 93%, 95% 70%, 116% 20%;
  }
  32% {
    background-position: 27% 25%, 47% 52%, 89% 73%, 110% 92%, 101% 83%, -3% 11%, 29% 100%, 9% 58%, 93% 23%, 123% 99%, -10% 37%, 14% 17%, 19% 93%, 37% 70%, 13% 20%;
  }
  33% {
    background-position: 45% 25%, -21% 52%, 8% 73%, -10% 92%, 24% 83%, 110% 11%, 59% 100%, 42% 58%, 27% 23%, 20% 99%, 74% 37%, 117% 17%, -22% 93%, 48% 70%, 118% 20%;
  }
  34% {
    background-position: 28% 25%, -8% 52%, 118% 73%, 64% 92%, 44% 83%, -5% 11%, 109% 100%, 100% 58%, 87% 23%, 45% 99%, 22% 37%, 43% 17%, 119% 93%, 25% 70%, 98% 20%;
  }
  35% {
    background-position: 67% 25%, 104% 52%, 1% 73%, 42% 92%, 48% 83%, 5% 11%, 24% 100%, 56% 58%, 6% 23%, 21% 99%, 92% 37%, 9% 17%, 2% 93%, 29% 70%, 63% 20%;
  }
  36% {
    background-position: 45% 25%, 45% 52%, 7% 73%, 61% 92%, 4% 83%, 124% 11%, 109% 100%, 29% 58%, 7% 23%, 69% 99%, 36% 37%, 53% 17%, 73% 93%, 29% 70%, -11% 20%;
  }
  37% {
    background-position: 96% 25%, 114% 52%, 120% 73%, 34% 92%, 46% 83%, 5% 11%, 35% 100%, 64% 58%, 98% 23%, 37% 99%, 57% 37%, 42% 17%, 105% 93%, 36% 70%, -22% 20%;
  }
  38% {
    background-position: 8% 25%, 13% 52%, 63% 73%, -10% 92%, 69% 83%, 68% 11%, 82% 100%, -7% 58%, 46% 23%, 46% 99%, -17% 37%, 125% 17%, 80% 93%, 95% 70%, 8% 20%;
  }
  39% {
    background-position: 29% 25%, 48% 52%, 13% 73%, 55% 92%, -20% 83%, 19% 11%, 97% 100%, 125% 58%, 107% 23%, 30% 99%, -14% 37%, 95% 17%, -14% 93%, 71% 70%, 72% 20%;
  }
  40% {
    background-position: 30% 25%, -23% 52%, 87% 73%, -18% 92%, 98% 83%, -16% 11%, 47% 100%, 31% 58%, 40% 23%, 90% 99%, 56% 37%, 55% 17%, 2% 93%, 25% 70%, 14% 20%;
  }
  41% {
    background-position: -11% 25%, 71% 52%, 104% 73%, 86% 92%, 59% 83%, -21% 11%, 94% 100%, 43% 58%, -15% 23%, 29% 99%, 5% 37%, 67% 17%, -20% 93%, 13% 70%, 122% 20%;
  }
  42% {
    background-position: 64% 25%, -10% 52%, -3% 73%, 7% 92%, 45% 83%, 0% 11%, 22% 100%, 1% 58%, 117% 23%, 23% 99%, 85% 37%, 122% 17%, 84% 93%, 21% 70%, 96% 20%;
  }
  43% {
    background-position: -16% 25%, 1% 52%, 90% 73%, 6% 92%, 9% 83%, -17% 11%, 58% 100%, 81% 58%, 27% 23%, 31% 99%, 18% 37%, 108% 17%, 58% 93%, 25% 70%, 51% 20%;
  }
  44% {
    background-position: 112% 25%, 24% 52%, 107% 73%, -8% 92%, 122% 83%, 103% 11%, 67% 100%, -24% 58%, 58% 23%, 118% 99%, 86% 37%, 8% 17%, 43% 93%, 80% 70%, 17% 20%;
  }
  45% {
    background-position: -3% 25%, 69% 52%, 85% 73%, -13% 92%, 78% 83%, 84% 11%, 81% 100%, 72% 58%, -13% 23%, 28% 99%, 120% 37%, 31% 17%, -16% 93%, 111% 70%, 59% 20%;
  }
  46% {
    background-position: 19% 25%, 79% 52%, 86% 73%, 113% 92%, 70% 83%, -24% 11%, -12% 100%, 117% 58%, 66% 23%, -21% 99%, 51% 37%, 87% 17%, 112% 93%, 62% 70%, 26% 20%;
  }
  47% {
    background-position: 104% 25%, 55% 52%, 59% 73%, 62% 92%, 39% 83%, 72% 11%, 62% 100%, 9% 58%, 23% 23%, 75% 99%, 50% 37%, 90% 17%, 21% 93%, -14% 70%, 47% 20%;
  }
  48% {
    background-position: 93% 25%, 111% 52%, 63% 73%, 27% 92%, -22% 83%, 31% 11%, 72% 100%, 82% 58%, 125% 23%, 125% 99%, 59% 37%, 118% 17%, 94% 93%, 11% 70%, 61% 20%;
  }
  49% {
    background-position: 116% 25%, -1% 52%, 96% 73%, 94% 92%, 37% 83%, 50% 11%, -12% 100%, 77% 58%, 4% 23%, -8% 99%, 37% 37%, 78% 17%, 63% 93%, 114% 70%, 94% 20%;
  }
  50% {
    background-position: 10% 25%, 17% 52%, 13% 73%, -15% 92%, 39% 83%, 46% 11%, 121% 100%, 94% 58%, -12% 23%, 88% 99%, 8% 37%, 10% 17%, 28% 93%, 63% 70%, 53% 20%;
  }
  51% {
    background-position: -4% 25%, 20% 52%, 82% 73%, 73% 92%, 12% 83%, 87% 11%, -15% 100%, 16% 58%, -12% 23%, 44% 99%, -18% 37%, 43% 17%, 34% 93%, 36% 70%, 47% 20%;
  }
  52% {
    background-position: 58% 25%, 89% 52%, -8% 73%, 14% 92%, 114% 83%, -23% 11%, -18% 100%, 79% 58%, 74% 23%, 64% 99%, -16% 37%, 33% 17%, 12% 93%, -24% 70%, 82% 20%;
  }
  53% {
    background-position: 13% 25%, -3% 52%, 118% 73%, 21% 92%, 92% 83%, 69% 11%, 88% 100%, 47% 58%, 103% 23%, 2% 99%, -22% 37%, 58% 17%, 89% 93%, -12% 70%, -12% 20%;
  }
  54% {
    background-position: 48% 25%, 34% 52%, 87% 73%, 61% 92%, 123% 83%, 4% 11%, 66% 100%, 42% 58%, -8% 23%, 54% 99%, 11% 37%, 117% 17%, 76% 93%, 123% 70%, 86% 20%;
  }
  55% {
    background-position: -19% 25%, 0% 52%, -7% 73%, -9% 92%, 27% 83%, 66% 11%, 80% 100%, -8% 58%, -8% 23%, 7% 99%, 48% 37%, 112% 17%, 13% 93%, 75% 70%, 40% 20%;
  }
  56% {
    background-position: 8% 25%, 70% 52%, 14% 73%, 57% 92%, -11% 83%, -8% 11%, 111% 100%, 98% 58%, 15% 23%, 17% 99%, 40% 37%, -12% 17%, 83% 93%, 103% 70%, 60% 20%;
  }
  57% {
    background-position: 101% 25%, 4% 52%, 37% 73%, 97% 92%, 43% 83%, 87% 11%, 55% 100%, 93% 58%, -3% 23%, 119% 99%, 100% 37%, -17% 17%, 95% 93%, 14% 70%, 64% 20%;
  }
  58% {
    background-position: 69% 25%, 19% 52%, 106% 73%, 106% 92%, 1% 83%, -13% 11%, 67% 100%, -11% 58%, 103% 23%, 29% 99%, 82% 37%, 88% 17%, 7% 93%, 61% 70%, 50% 20%;
  }
  59% {
    background-position: 68% 25%, 25% 52%, 30% 73%, 72% 92%, 66% 83%, 44% 11%, -18% 100%, 104% 58%, 86% 23%, -3% 99%, 34% 37%, -7% 17%, -12% 93%, -4% 70%, 18% 20%;
  }
  60% {
    background-position: 74% 25%, 89% 52%, 5% 73%, 7% 92%, 84% 83%, 21% 11%, 34% 100%, 57% 58%, 86% 23%, -7% 99%, 49% 37%, -7% 17%, -4% 93%, 95% 70%, 87% 20%;
  }
  61% {
    background-position: 46% 25%, 121% 52%, -18% 73%, 47% 92%, 66% 83%, 68% 11%, 87% 100%, -11% 58%, -3% 23%, 62% 99%, 114% 37%, -23% 17%, 74% 93%, 41% 70%, 46% 20%;
  }
  62% {
    background-position: 57% 25%, 7% 52%, -17% 73%, 10% 92%, 123% 83%, -5% 11%, 93% 100%, 100% 58%, -2% 23%, 50% 99%, 90% 37%, 107% 17%, 101% 93%, 48% 70%, 31% 20%;
  }
  63% {
    background-position: 51% 25%, 114% 52%, 98% 73%, 17% 92%, 80% 83%, -24% 11%, 59% 100%, 44% 58%, -18% 23%, 108% 99%, 35% 37%, 72% 17%, 13% 93%, 47% 70%, 27% 20%;
  }
  64% {
    background-position: 62% 25%, 65% 52%, 34% 73%, 91% 92%, 10% 83%, 49% 11%, 66% 100%, 35% 58%, 98% 23%, 37% 99%, 100% 37%, 64% 17%, 21% 93%, 2% 70%, 34% 20%;
  }
  65% {
    background-position: 120% 25%, 76% 52%, 69% 73%, -22% 92%, 106% 83%, 18% 11%, 63% 100%, 54% 58%, 10% 23%, 93% 99%, -23% 37%, 108% 17%, 29% 93%, 43% 70%, 9% 20%;
  }
  66% {
    background-position: 74% 25%, 52% 52%, -17% 73%, 37% 92%, 102% 83%, 47% 11%, 20% 100%, -1% 58%, 66% 23%, 98% 99%, 98% 37%, 110% 17%, 52% 93%, -16% 70%, 27% 20%;
  }
  67% {
    background-position: 10% 25%, 12% 52%, 120% 73%, -16% 92%, 88% 83%, 56% 11%, 88% 100%, -8% 58%, 114% 23%, -5% 99%, 110% 37%, 38% 17%, 8% 93%, 2% 70%, 92% 20%;
  }
  68% {
    background-position: 64% 25%, 0% 52%, 50% 73%, 75% 92%, 67% 83%, 67% 11%, 120% 100%, 47% 58%, 68% 23%, 94% 99%, 107% 37%, 106% 17%, 118% 93%, 90% 70%, 21% 20%;
  }
  69% {
    background-position: 106% 25%, 54% 52%, 104% 73%, 108% 92%, 16% 83%, 53% 11%, 36% 100%, 64% 58%, 41% 23%, -19% 99%, 83% 37%, 112% 17%, 29% 93%, 73% 70%, 27% 20%;
  }
  70% {
    background-position: -23% 25%, 19% 52%, 95% 73%, 89% 92%, 21% 83%, 87% 11%, -12% 100%, 124% 58%, 17% 23%, 57% 99%, 97% 37%, 66% 17%, -24% 93%, 27% 70%, 46% 20%;
  }
  71% {
    background-position: 53% 25%, 122% 52%, 31% 73%, -22% 92%, 25% 83%, 103% 11%, 85% 100%, 24% 58%, 57% 23%, 61% 99%, 31% 37%, 120% 17%, 27% 93%, 71% 70%, 15% 20%;
  }
  72% {
    background-position: 91% 25%, 3% 52%, 48% 73%, 24% 92%, -4% 83%, 110% 11%, 31% 100%, 15% 58%, 107% 23%, 3% 99%, 69% 37%, 53% 17%, 103% 93%, -4% 70%, 102% 20%;
  }
  73% {
    background-position: -18% 25%, 77% 52%, -23% 73%, 24% 92%, 45% 83%, 118% 11%, -17% 100%, 69% 58%, 27% 23%, 12% 99%, 66% 37%, 88% 17%, 90% 93%, 106% 70%, 24% 20%;
  }
  74% {
    background-position: 52% 25%, 86% 52%, 93% 73%, 58% 92%, 83% 83%, 57% 11%, 70% 100%, 118% 58%, 62% 23%, 79% 99%, 88% 37%, 17% 17%, 0% 93%, 74% 70%, -7% 20%;
  }
  75% {
    background-position: -7% 25%, 79% 52%, 6% 73%, 25% 92%, 72% 83%, 80% 11%, 85% 100%, 13% 58%, -23% 23%, 8% 99%, 3% 37%, 58% 17%, 110% 93%, 34% 70%, 0% 20%;
  }
  76% {
    background-position: 18% 25%, 57% 52%, 75% 73%, -20% 92%, 29% 83%, 110% 11%, 79% 100%, 43% 58%, 55% 23%, 10% 99%, 101% 37%, 95% 17%, -19% 93%, 55% 70%, 89% 20%;
  }
  77% {
    background-position: 73% 25%, 16% 52%, 68% 73%, 18% 92%, 49% 83%, 9% 11%, 58% 100%, 42% 58%, 11% 23%, 21% 99%, 20% 37%, -6% 17%, 81% 93%, 88% 70%, 26% 20%;
  }
  78% {
    background-position: 74% 25%, 5% 52%, 0% 73%, 65% 92%, 67% 83%, 58% 11%, 36% 100%, 95% 58%, -10% 23%, 39% 99%, -5% 37%, 55% 17%, -18% 93%, 64% 70%, -23% 20%;
  }
  79% {
    background-position: 107% 25%, 97% 52%, 109% 73%, 46% 92%, 81% 83%, -6% 11%, 47% 100%, 47% 58%, 101% 23%, 86% 99%, 95% 37%, 125% 17%, -23% 93%, 23% 70%, -15% 20%;
  }
  80% {
    background-position: -15% 25%, -3% 52%, -5% 73%, -10% 92%, 42% 83%, 80% 11%, 107% 100%, 107% 58%, 4% 23%, 86% 99%, 22% 37%, -14% 17%, 58% 93%, 6% 70%, 16% 20%;
  }
  81% {
    background-position: -6% 25%, 67% 52%, 42% 73%, 105% 92%, 68% 83%, 54% 11%, -16% 100%, -9% 58%, 32% 23%, -3% 99%, 107% 37%, 98% 17%, 122% 93%, 123% 70%, 100% 20%;
  }
  82% {
    background-position: 21% 25%, 41% 52%, -4% 73%, -8% 92%, 110% 83%, -10% 11%, -21% 100%, 76% 58%, 50% 23%, 59% 99%, 41% 37%, 91% 17%, 88% 93%, 26% 70%, 6% 20%;
  }
  83% {
    background-position: 124% 25%, 14% 52%, 96% 73%, 109% 92%, 45% 83%, 56% 11%, 96% 100%, 30% 58%, 51% 23%, -18% 99%, 118% 37%, 34% 17%, 28% 93%, 88% 70%, -21% 20%;
  }
  84% {
    background-position: 12% 25%, 38% 52%, -10% 73%, 103% 92%, 59% 83%, 29% 11%, 13% 100%, 124% 58%, 46% 23%, 32% 99%, -12% 37%, 87% 17%, 122% 93%, 70% 70%, 17% 20%;
  }
  85% {
    background-position: 56% 25%, 51% 52%, 84% 73%, -10% 92%, -15% 83%, -2% 11%, 122% 100%, -10% 58%, 110% 23%, 39% 99%, 21% 37%, 21% 17%, 115% 93%, 10% 70%, 99% 20%;
  }
  86% {
    background-position: 22% 25%, 8% 52%, 21% 73%, 70% 92%, 54% 83%, 2% 11%, 97% 100%, 17% 58%, -1% 23%, 86% 99%, 8% 37%, -17% 17%, 89% 93%, 16% 70%, -18% 20%;
  }
  87% {
    background-position: 125% 25%, 10% 52%, 60% 73%, 2% 92%, -13% 83%, 96% 11%, -23% 100%, 62% 58%, 5% 23%, 106% 99%, 21% 37%, 17% 17%, 60% 93%, 44% 70%, -10% 20%;
  }
  88% {
    background-position: 24% 25%, 59% 52%, 3% 73%, 73% 92%, 15% 83%, 24% 11%, 79% 100%, 5% 58%, 117% 23%, 59% 99%, 105% 37%, 112% 17%, 56% 93%, 112% 70%, -9% 20%;
  }
  89% {
    background-position: 122% 25%, 123% 52%, 94% 73%, 98% 92%, 64% 83%, 77% 11%, -11% 100%, 42% 58%, 36% 23%, -23% 99%, -14% 37%, 39% 17%, -15% 93%, 70% 70%, 122% 20%;
  }
  90% {
    background-position: 89% 25%, 85% 52%, -17% 73%, -15% 92%, -4% 83%, 79% 11%, -14% 100%, 29% 58%, -21% 23%, 93% 99%, 40% 37%, -11% 17%, 123% 93%, -12% 70%, 57% 20%;
  }
  91% {
    background-position: 47% 25%, -3% 52%, 6% 73%, 29% 92%, 17% 83%, 2% 11%, 5% 100%, 90% 58%, 100% 23%, -24% 99%, 117% 37%, -15% 17%, 105% 93%, 115% 70%, -20% 20%;
  }
  92% {
    background-position: 19% 25%, 125% 52%, 38% 73%, -10% 92%, 44% 83%, 83% 11%, 103% 100%, 108% 58%, 63% 23%, 115% 99%, 124% 37%, 53% 17%, 96% 93%, -20% 70%, 49% 20%;
  }
  93% {
    background-position: -22% 25%, -24% 52%, 80% 73%, -11% 92%, 114% 83%, 113% 11%, -19% 100%, 34% 58%, 4% 23%, -21% 99%, 33% 37%, -24% 17%, 5% 93%, 47% 70%, 62% 20%;
  }
  94% {
    background-position: 20% 25%, 86% 52%, -16% 73%, 79% 92%, -1% 83%, 113% 11%, 3% 100%, 65% 58%, 93% 23%, 24% 99%, 55% 37%, 36% 17%, 118% 93%, 62% 70%, 116% 20%;
  }
  95% {
    background-position: 14% 25%, 15% 52%, 81% 73%, 32% 92%, 2% 83%, 12% 11%, 34% 100%, 110% 58%, -11% 23%, -23% 99%, 17% 37%, 106% 17%, 49% 93%, -16% 70%, 64% 20%;
  }
  96% {
    background-position: 86% 25%, 47% 52%, 55% 73%, 39% 92%, 16% 83%, 88% 11%, -4% 100%, 83% 58%, 44% 23%, 31% 99%, 35% 37%, 99% 17%, 35% 93%, 56% 70%, 109% 20%;
  }
  97% {
    background-position: 19% 25%, 0% 52%, 38% 73%, 115% 92%, 53% 83%, 0% 11%, 64% 100%, -13% 58%, 29% 23%, 60% 99%, 15% 37%, 37% 17%, 64% 93%, 34% 70%, 68% 20%;
  }
  98% {
    background-position: 37% 25%, 48% 52%, 16% 73%, 31% 92%, 94% 83%, 107% 11%, 27% 100%, 118% 58%, 45% 23%, 96% 99%, 110% 37%, -11% 17%, -24% 93%, 48% 70%, -5% 20%;
  }
  99% {
    background-position: 64% 25%, 75% 52%, 22% 73%, -14% 92%, -11% 83%, 56% 11%, 21% 100%, 95% 58%, 56% 23%, 61% 99%, -20% 37%, 69% 17%, 37% 93%, -17% 70%, 36% 20%;
  }
  100% {
    background-position: 42% 25%, 33% 52%, 124% 73%, 77% 92%, -15% 83%, 122% 11%, 2% 100%, 120% 58%, 78% 23%, 5% 99%, -19% 37%, 111% 17%, 119% 93%, 41% 70%, -19% 20%;
  }
}/*# sourceMappingURL=style.css.map */